<div class="container">
	<h1>Andres Mena</h1>
	<h4>Software Developer</h4>
		<p>
			Spicy jalapeno bacon ipsum dolor amet pig flank sausage short ribs, sirloin beef ribs turkey. Meatloaf jowl prosciutto leberkas doner andouille short loin tenderloin beef pork bresaola ground round ball tip. Ribeye tail porchetta pastrami.
		</p>

	<br />

		<a href="http://twitter.com/simbaxo" target="blank"> 
		<%=image_tag("twitter.png") %> </a>
		<a href="http://github.com/simbaxo" target="blank">
		<%=image_tag("github.png") %> </a>
		<a href="http://instagram.com/simbaxo" target="blank">
		<%=image_tag("instagram.png") %> </a>

</div>